<div class='col-md-4'>
<div class='panel panel-default panel-primary' ng-hide='selectedChannel'>
<div class='panel-heading'>
<h3 class='panel-title'>Join Chat</h3>
</div>
<form class='panel-body'>
<ul class='list-unstyled'>
<p>
<label>
<input class='checkbox-inline input-lg' ng-model='data.super' type='checkbox'>
Log in with su?
</label>
</p>
</ul>
<ul class='list-unstyled'>
<a>
<input class='btn btn-lg btn-primary' ng-click='join()' type='submit' value='Join'>
</a>
</ul>
</form>
</div>
</div>

