{% load compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="/static/scss/main.scss"/>
        {% endcompress %}
    </head>
    <body ng-app="App">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!--[if lt IE 9]>
            <script src="/static/vendor/es5-shim.min.js"></script>
            <script src="/static/vendor/json3.min.js"></script>
        <![endif]-->

        <!-- NAVBAR
        ================================================== -->
        <div class="ng-include: '/static/views/nav.html'"></div>

        <div class="container" ng-view></div>

        <script src="{% url 'wafflejs' %}"></script>
        {% compress js %}
        <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/static/bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="/static/bower_components/pubnub-angular/lib/pubnub-angular.js"></script>
        <script type="text/javascript" src="/static/app.js"></script>
        <script type="text/javascript" src="/static/controllers/main.js"></script>
        <script type="text/javascript" src="/static/controllers/join.js"></script>
        <script type="text/javascript" src="/static/controllers/chat.js"></script>
        <script type="text/javascript" src="/static/controllers/login.js"></script>
        <script type="text/javascript" src="/static/controllers/register.js"></script>

        <script type="text/javascript" src="/static/vendor/bootstrap/bootstrap-dropdown.js"></script>

        <!-- we have modified the js-compressor to support ng templates -->
        <script type="text/ng-template" src="/static/views/main.html"></script>
        <script type="text/ng-template" src="/static/views/nav.html"></script>
        <script type="text/ng-template" src="/static/views/login.html"></script>
        <script type="text/ng-template" src="/static/views/chat.html"></script>
        <script type="text/ng-template" src="/static/views/join.html"></script>
        <script type="text/ng-template" src="/static/views/register.html"></script>

        {% endcompress %}
        <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
        <script src="https://cdn.pubnub.com/pubnub-crypto.min.js"></script>

           <script language="javascript">
      window.scrl2 = function(el) {
        if (!$(el)[0]) {
          return;
        }
        $('html, body').animate({
          scrollTop: $(el).offset().top
        }, 600);
      }
    </script>

        {% if user.is_authenticated %}
        <script type="text/javascript">
          App.run(function($rootScope) {
            $rootScope.user = {{user_json|safe}};
          });
          App.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.headers.common['Authorization'] = 'Token {{user.api_key}}';
          }]);
        </script>
        {% endif %}
    </body>
</html>
